build/bin/
frontend/dist/
dist/

node_modules/
frontend/node_modules/

*.log
*.out

*.exe
*.dll
*.so
*.dylib
*.test

.DS_Store
Thumbs.db

.idea/
.vscode/

# Database files
*.db
*.db-journal
*.db-wal
*.db-shm
openreport.db

*.xlsx
CLAUDE.md
.claude/*
.docs/*
.gstack/
docs/*